parameters:
    level: 6
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: false
    scanFiles:
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
    tmpDir: phpstan
